# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production


# misc
public/AM_favicon_200x200_FINAL_black.ico
src/assets
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.eslintrc.js
.prettierrc
readCopy.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
