* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100vh;
  width: auto;
  background: linear-gradient(-45deg, #02a1fd, #78c0fe, #c9e5ff, #eaf5fe);
  background-size: 1600% 1600%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.App {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  color: #2d2d2d;
}
h1 {
  font-size: 2.75rem;
  font-weight: 400;
  font-family: 'Bebas Neue', sans-serif;
}

h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.15rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  color: #484848;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

a:hover {
  color: rgb(236, 0, 249);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav {
  font-weight: 400;
  font-size: 1.5em;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 0.5em;
  height: auto;
  width: 100%;
}

.navEl {
  padding-top: 0.25em;
}

#git {
  margin-left: 0.5em;
}

#home {
  margin: 0 0 0 1em;
}

#bigLogo > img {
  width: 10em;
  height: auto;
}

#littleLogo {
  margin: 1em 0 0 1em;
}

#littleLogo > img {
  width: 4em;
}

#mobileLogo > img {
  width: 4em;
}

#mobileLogo {
  margin: 0 0 0 4em;
}

.projects {
  text-align: center;
}

.projectTitle {
  font-size: 2.5em;
  margin: 0 0 0.25em 0;
}

.portfolioLink {
  width: 100%;
  height: auto;
}

.photo1 {
  width: 85%;
  height: auto;
  background-color: black;
  margin: 0;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.25rem black);
}

.projectBody {
  margin: 0 2.25em 2em 2.25em;
}

.title {
  font-size: 3rem;
  margin: 0 0 0 0;
}

.staticPic {
  width: 100%;
  height: auto;
}

.portfolioPic {
  width: 100%;
  height: auto;
}

.projectBody > h3 > p {
  margin: 0.75em 0 0.75em 0;
}

.foot {
  min-width: 100%;
  height: 1.5em;
  display: flex;
  justify-content: center;
  background-color: #484848;
  margin: 0 0 0 0;
}

.foot > a {
  color: rgb(232, 232, 232);
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.player {
  width: 100% !important;
  height: auto !important;
}

@media screen and (min-width: 640px) {
  .nav {
    height: 1em;
    margin-top: 1em;
  }
  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 2em;
    margin: 4em 0 0 8em;
    width: auto;
    height: auto;
  }

  .portfolioLink {
    width: 40%;
    height: auto;
  }
  .photo1 {
    width: 100%;
    height: auto;
  }
  #me {
    margin-left: 1em;
  }
  #bigLogo {
    margin-right: 11em;
  }
  #littleLogo {
    margin-right: 13em;
  }
  .projectBody {
    margin-top: 2em;
  }
  .foot > a {
    margin: 0 4em 0 4em;
  }
  .player {
    width: 640px !important;
    height: 360px !important;
    margin: 0 1em 0 1em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  #bigLogo {
    margin-right: 14em;
  }
  #littleLogo {
    margin-right: 18em;
  }
  #littleLogo > img {
    width: 6em;
  }
  .nav {
    margin-top: 2em;
  }
  .navEl {
    margin-right: 1em;
    font-size: 1.25em;
  }
  .projectBody {
    margin: 2em 10em 2em 10em;
  }
  .projects {
    margin-left: 10em;
  }
  .player {
    margin: 0 4em 0 4em;
  }
}

/* if greater than 1025 and less than 1400 */
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .nav {
    justify-content: start;
    margin: 2em 0 0 4em;
  }
  .navEl {
    font-size: 1.5em;
  }
  #bigLogo {
    position: inherit;
    margin-left: 3em;
  }
  #littleLogo > img {
    width: 7em;
  }

  #littleLogo {
    position: inherit;
    margin-left: 8em;
  }

  .projects {
    margin-left: 18em;
  }
  .portfolioLink {
    width: 35%;
  }
  .drinkGoRound {
    margin: 0 6em 0 6em;
  }
  .projectBody {
    margin: 6em 15em 2em 15em;
  }
  .title {
    font-size: 5em;
  }
  .bodyTitles {
    font-size: 4em;
  }
  .projectBody > h3 {
    font-size: 2em;
  }
  .foot {
    font-size: 3.5em;
    height: 1.25em;
  }
  .foot > a {
    margin: 0 5em 0 5em;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
  .nav {
    margin: 2em 0 0 0;
  }
  .navEl {
    font-size: 1.5em;
  }
  #bigLogo {
    position: inherit;
    margin-right: 20em;
  }
  #littleLogo > img {
    width: 7.5em;
  }

  #littleLogo {
    position: inherit;
    margin-right: 30em;
  }
  .projects {
    margin-left: 18em;
  }
  .portfolioLink {
    width: 35%;
  }
  .drinkGoRound {
    margin: 0 6em 0 6em;
  }
  .projectBody {
    margin: 6em 15em 2em 15em;
  }
  .title {
    font-size: 5em;
  }
  .bodyTitles {
    font-size: 4em;
  }
  .projectBody > h3 {
    font-size: 2em;
  }
  .foot {
    font-size: 3.5em;
    height: 1.25em;
  }
  .foot > a {
    margin: 0 5em 0 5em;
  }
}

@media screen and (min-width: 1801px) {
  .nav {
    margin-top: 2.5em;
  }
  .navEl {
    font-size: 2em;
  }
  #bigLogo {
    margin-right: 15em;
  }
  #littleLogo > img {
    width: 8em;
    margin-right: 23em;
  }
  .projects {
    margin: 4em 0 0 34em;
  }
  .portfolioLink {
    width: 35%;
  }
  .projectTitle {
    font-size: 3.5em;
  }
  .projectBody {
    margin: 4em 20em 1em 20em;
  }
  .title {
    font-size: 6em;
  }
  .drinkGoRound {
    margin: 1em 8em 1em 8em;
  }
  .bodyTitles {
    font-size: 4em;
  }
  .projectBody > h3 {
    font-size: 2.25em;
  }
  .player {
    margin-top: 1em;
    margin-bottom: 3em;
  }
  iframe {
    margin: 0 0 0 18em;
  }
  .foot {
    font-size: 3.5em;
    height: 1.25em;
  }
  .foot > a {
    margin: 0 6em 0 6em;
  }
}
